.item-image{
    width: 350px;
    height: 450px;
}
.collection-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.collection-item{
    padding: 30px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-container{
    background: #fff;
}
.section{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-md-4{
 display: flex;
 justify-content: center;
}