.contact{
    height: 500px;
    background-color:hwb(0, 95%, 0%);
}
.contact-banner{
    height: 100vh;
    width: 100%;
    opacity: 0.2;
}
.head{
    text-align: center;
    margin-top: 20px;
}
.background{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #F0FFFF;
}
.cover{
    position: absolute;
    top: 30px;
    
}