.navbar{
    padding-left: 10px;
    padding-right: 10px;
}
.container{
    margin-left: 10px;
    margin-right: 10px;
}
#navBar{
    background: linear-gradient(to bottom, #33ccff 0%, #0099ff 100%);
    height: 80px;
    
}